@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 1024px;
  margin: 0 auto;
}

.body-container {
  width: 940px;
  margin: 30px auto;
  nav {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    .logo {
      height: 40px;
    }
    ul {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
      }
      li {
        color: #3f5d45;
        list-style: none;
        margin-right: 60px;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: #3f5d45;
        }
      }
      .cart {
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: all 0.15s ease;
        &:hover {
          scale: 1.05;
        }
      }
    }
  }
  .banner {
    margin-bottom: 30px;
  }
  .main-container {
    display: flex;
    .class-container {
      width: 300px;
      font-size: 24px;
      text-align: center;

      .class-title {
        color: #fff;
        background-color: #3f5d45;
        padding: 20.5px 0;
      }
      .class-regular {
        color: #3f5d45;
        background-color: #fff;
        padding: 20.5px 0;
        outline: 1px solid #eaf0ed;
        cursor: pointer;
        &:hover {
          outline: 1px solid #3f5d45;
        }
      }
      .class-checked {
        color: #3f5d45;
        background-color: #eaf0ed;
        padding: 20.5px 0;
      }
    }
    .item-container {
      width: 640px;
      display: flex;
      flex-wrap: wrap;
      .item {
        margin-left: 20px;
        position: relative;
        &::before {
          content: "本日精選";
          position: absolute;
          display: flex;
          text-align: center;
          width: 30px;
          height: 100px;
          color: #fff;
          background-color: #3f5d45;
          top: 0;
          left: 30px;
        }
        &::after {
          content: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/favorite_border.png?raw=true);
          position: absolute;
          top: 19px;
          right: 22px;
          &:hover {
            cursor: pointer;
            color: #fff;
          }
        }
        .info {
          display: flex;
          width: 300px;
          font-size: 20px;
          color: #3f5d45;
          .name {
            width: 173px;
            padding: 14px 28px 14px 33px;
          }
          .price {
            width: 127px;
            padding: 14px 20px 14px 25px;
          }
        }
        button {
          cursor: pointer;
          width: 300px;
          border: none;
          font-size: 24px;
          padding: 20.5px 0;
          margin-bottom: 30px;
          background-color: #eaf0ed;
          color: #3f5d45;
          &:hover {
            background-color: #3f5d45;
            color: white;
          }
        }
      }
    }
  }
  .page-list {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      outline: #eaf0ed 1px solid;
      width: 60px;
      height: 60px;
      cursor: pointer;
      &:hover {
        background-color: #eaf0ed;
        color: #000;
      }
    }
    .pages-checked {
      background-color: #3f5d45;
      color: #fff;
    }
  }
}
